:root {
    --blue: rgb(57, 132, 245);
}

h1 {
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-left: 24rem;
    font-family: 'Roboto', sans-serif;
}

.button {
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 10px 14px 10px 12px;
    border-radius: 4px;
    color:rgb(255, 255, 255);
    border: solid 1px var(--blue);
    background-color: var(--blue);
}

.button:hover {
    cursor: pointer;
}

.image {
    display: block;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    height: 12rem;
    width: 24rem;
}