.gui-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.gui {
    width: 800px;
}

img {
    height: 13rem;
    width: 26rem;
}

.add-button, .image-GIF {
    display: flex;
    justify-content: center;
    margin: 40px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 12.5px;
    padding: 10px 14px 10px 12px;
    border-radius: 4px;
    color:black;
    border: solid 1px black;
    background-color: white;
}

.update {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
}

.form-container {
    display: none;
    justify-content: center;
    margin-top: 80px;
}

input {
    padding: 8px;
    margin: 10px;
}

label {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 10px;
}

.table {
    width: 800px;
}

.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}