.gui-container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.gui {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

img {
    height: 17rem;
    width: 25rem;
}

.image-GIF {
    display: flex;
    justify-content: center;
    margin: 80px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border-radius: 4px;
    color:black;
    border: solid 1px black;
    background-color: white;
}

h1 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    display: none;
    justify-content: center;
    margin-top: 100px;
}

input {
    padding: 8px;
    margin: 10px;
}

label {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-left: 14px;
    margin-top: 10px;
}

#read {
    margin-top: 20px;
}

.table {
    font-family: 'Roboto', sans-serif;
    width: 800px;
}

.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}

#submit {
    margin: 30px;
}