.rockButton {
}

.paperButton {
}

.scissorButton {
}

.same:hover {
    transform: scale(1.2);
}

.same {
    font-size: 110px;
    background-color: white;
    margin: 0px 20px 0px 20px;
    border: none;
    transition: transform .2s; 
}

h1 {
    font-size: 42px;
    display: flex;
    justify-content: center;
    margin-top: 140px;
    padding-bottom: 50px;
    font-family: -apple-system;
    color: black;
    word-spacing: 6px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    word-spacing: 175px;
    font-family: -apple-system;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 20px;
    word-spacing: 100px;
    font-family: -apple-system;
}

.btns {
    display: flex;
    justify-content: center;
}

h4 {
    margin-top: 60px;
    padding-left: 14px;
    display: flex;
    justify-content: center;
    font-family: -apple-system;
    font-size: 24px;
    word-spacing: 4px;
}

.track {
    display: flex;
    justify-content: center;
    word-spacing: 150px;
    font-family: -apple-system;
}

.msg {
    margin-top: 60px;
    font-size: 30px;
}