body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* 1 */

.nav{
    color: white;
    padding: 1em 25em 1em 25em;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

a {
    color: white;
    padding-left: 15px;
    text-decoration: none;
}

/* 2 */

button {
    margin-top: 12px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background-color: rgb(59,130,246);
    outline: none;
    border:none;

}

h1 {
    font-size: 45px;
}

.both {
    padding: 4em 23em 4em 23em;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.left {
    color: white;
    width: 30em;
    padding: 1em 2em 1em 2em;
}

.right {
    padding: 1em 1em 1em 1em;
}

/* 3 */

.container {
    padding: 2em 2em 2em 2em;
    text-align: center;
}

.box{
    display: flex;
    padding: 1em 26em 1em 26em;
    justify-content: space-evenly;
}

.b1 {
    padding: 4em 4em 4em 4em;
    border: 4px solid rgb(59,130,246);
    border-radius: 15px;
}

.b2 {
    padding-left: 25px;
    width: 180px;
}

.random {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2em;
    padding-top: 1em;
}

/* 4 */

.plain {
    font-size: 30px;
    color: black;
    text-align: center;
    background-color: rgb(229,231,235);
    padding: 5em 20em 5em 20em;

}

/* 5 */

.last {
    padding: 8em 20em 8em 20em;
    background-color: white;
}

.inside {
    font-size: 20px;
    color: white;
    padding: 1em 1em 1em 4em;
    background-color: rgb(59,130,246);
    border-radius: 10px;
}

/* 6 */

footer {
    padding: 4em 4em 4em 4em;
    background-color: #1F2937;
}